/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para dispositivos de largura inferior a 600px */
@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .game {
    width: 100%;
  }
}

/* Estilos para dispositivos de largura entre 600px e 960px */
@media (min-width: 600px) and (max-width: 960px) {
  .container {
    padding: 15px;
  }

  .game-list {
    justify-content: flex-start;
  }

  .game {
    width: calc(50% - 40px);
  }
}

/* Estilos para dispositivos de largura superior a 960px */
@media (min-width: 960px) {
  .game {
    width: calc(33.33% - 40px);
  }
}

/* GLOBAL STYLES */
body {
  font-family: 'Press Start 2P';
  background: radial-gradient(ellipse at center, rgb(31, 31, 31) 0%, rgb(0, 0, 0) 100%);
  color: white;
  -webkit-font-smoothing: none;
  text-align: center;
  font-size: xx-small;
  line-height: 1.5;
}

.tittle {
  color: white;
  -webkit-font-smoothing: none;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
}

.bodytext {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 12px;
}

.bodytooltext {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 12px;
}

.sectiontittle {
  color: white;
  -webkit-font-smoothing: none;
  font-size: 14px;
}

.break-line {
  display: block;
  margin-top: 10px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  /* padding: 20px; */
}

header {
  /* background: radial-gradient(circle, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)); */
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

section {
  text-align: center;
  padding: 50px 0;
  flex-grow: 1;
}

/* CARROUSEL TO CARDS*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #222;
}

#cCarousel-games {
  position: relative;
  max-width: 900px;
  margin: auto;
}

#cCarousel-games .arrow {
  position: absolute;
  top: 50%;
  display: flex;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
  font-size: 26px;
  color: white;
  background: #76767672;
  cursor: pointer;
}

#cCarousel-games #prevGames {
  left: 0px;
}

#cCarousel-games #nextGames {
  right: 0px;
}


#carousel-vp {
  width: 770px;
  height: 400px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin: auto;
}

@media (max-width: 770px) {
  #carousel-vp {
    width: 510px;
  }
}

@media (max-width: 510px) {
  #carousel-vp {
    width: 250px;
  }
}

#cCarousel-games #cCarousel-games-inner {
  display: flex;
  position: absolute;
  transition: 0.3s ease-in-out;
  gap: 10px;
  left: 0px;
}

.cCarousel-games-item {
  width: 250px;
  height: 365px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, #1a1a1a, #333333);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 2px solid transparent;
}

.cCarousel-games-item:hover {
  border: 2px solid white;
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.cCarousel-games-item img {
  width: 100%;
  object-fit: cover;
  min-height: 246px;
  color: rgb(0, 0, 0);
}

.cCarousel-games-item .infos {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.cCarousel-games-item .infos button {
  background: #222;
  padding: 10px 30px;
  border-radius: 15px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

#cCarousel-features {
  position: relative;
  max-width: 900px;
  margin: auto;
}

#cCarousel-features .arrow {
  position: absolute;
  top: 50%;
  display: flex;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
  font-size: 26px;
  color: white;
  background: #76767672;
  cursor: pointer;
}

#cCarousel-features #prevFeatures {
  left: 0px;
}

#cCarousel-features #nextFeatures {
  right: 0px;
}

#cCarousel-features #cCarousel-features-inner {
  display: flex;
  position: absolute;
  transition: 0.3s ease-in-out;
  gap: 10px;
  left: 0px;
}

.cCarousel-features-item {
  width: 250px;
  height: 365px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, #1a1a1a, #333333);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 2px solid transparent;
}

.cCarousel-features-item:hover {
  border: 2px solid white;
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.cCarousel-features-item img {
  width: 100%;
  object-fit: cover;
  min-height: 246px;
  color: rgb(0, 0, 0);
}

.cCarousel-features-item .infos {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.cCarousel-features-item .infos button {
  background: #222;
  padding: 10px 30px;
  border-radius: 15px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

/* FOOTER */
footer {
  background: radial-gradient(circle, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
  padding: 10px;
  color: #fff;
  text-align: center;
  flex-shrink: 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
  font-size: 14px;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

/* SOCIAL */
#social {
  padding: 0px;
}

.social {
  text-decoration: none;
  color: white;
  width: 16px;
  height: 16px;
  border-width: 3px;
  border-style: solid;
  border-color: #ffffff00;
  margin: 0px 5px;
}

.social img {
  display: block;
  margin: 0px;
}

.social:hover .img_normal {
  display: none;
}

.social .img_normal {
  display: block;
}

.social:hover .img_hover {
  display: block;
}

.social .img_hover {
  display: none;
}

@media (max-width: 600px) {
  .social {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  .social {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 960px) {
  .social {
    width: 80px;
    height: 80px;
  }
}